$primary-color: #007bff;
$secondary-color: #6c757d;

$xs-size: 10px;
$sm-size: 12px;
$md-size: 14px;
$lg-size: 16px;
$xl-size: 18px;

$xs-padding: 5px;
$sm-padding: 10px;
$md-padding: 15px;
$lg-padding: 20px;
$xl-padding: 25px;
